@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }
    .animation-delay-4000 {
        animation-delay: 4s;
    }
}
@layer components {
    .note-lined-paper {
        background-image: repeating-linear-gradient(transparent, transparent 23px, #e2e8f0 24px);
        line-height: 24px;
        padding-top: 2px;
        min-height: 96px;
    }
}
