@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }

    .animation-delay-4000 {
        animation-delay: 4s;
    }
}

@layer components {
    .note-lined-paper {
        background-image: repeating-linear-gradient(transparent, transparent 23px, #e2e8f0 24px);
        line-height: 24px;
        padding-top: 2px;
        min-height: 96px;
    }

    /* FORCE VISUAL DOT STYLE */
    .react-flow__handle .bg-indigo-500 {
        background-color: #6366f1 !important;
        /* Tailwind indigo-500 */
        border-color: #ffffff !important;
        border-width: 2px !important;
        border-radius: 50% !important;
        width: 14px !important;
        height: 14px !important;
        min-width: 14px !important;
        min-height: 14px !important;
    }

    .react-flow__handle .bg-cyan-500 {
        background-color: #06b6d4 !important;
        /* Tailwind cyan-500 */
        border-color: #ffffff !important;
        border-width: 2px !important;
        border-radius: 50% !important;
        width: 14px !important;
        height: 14px !important;
        min-width: 14px !important;
        min-height: 14px !important;
    }
}